.mainContainer {
  width: 65%;
  margin: auto;
  background: #0f0f0f;
}
.headerContainer {
  background: blue;
}
.coverImg img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
.profilePicture {
  display: flex;
  justify-content: center;
  margin-top: -75px;
}
.mainInfoContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .mainInfo {
    h1 {
      margin: 15px 0 10px 0;
      font-size: 48px;
    }
    a {
      color: #c0c0c0;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .bio {
    margin-top: 25px;
  }
}
