.container {
  margin: auto;
  width: 55%;
}
.input{
  box-sizing: border-box;
  width: 100%;
  padding: 15px 25px;
  font-size: 25px;
  border-radius: 10px;
  background: transparent;
  border: 2px #ededed solid;
}
.input::placeholder{
  color: #cdcdcd;
}
.input:focus{
  outline: none;
}